<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="Application" value="SmartIT.Library"/>
        <add key="Company" value="Eduardo Claudio Nicacio"/>
        <add key="PortalUrl" value="http://localhost:53174/"/>
        <add key="Domain" value="Ryzen-5900X"/>
        <add key="DomainUser" value="ecnic"/>
        <add key="DomainPassword" value=""/>
        <add key="AuthenticationMode" value="SQL"/>
    </appSettings>
    <connectionStrings>
        <add name="NUnitTests" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\SRC\ECNSoft\00. SmartIT.Library\SmartIT.Library\SmartIT.Library.Data.Tests\SmartIT.Library.Data.Tests.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>